/Diplom.aux
/paragrafs/Github/Github.aux
/paragrafs/Github/Github.log
/paragrafs/Ustanovka/Ustanovka.aux
/paragrafs/Ustanovka/Ustanovka.log
/paragrafs/Klonir/Klonir.aux
/paragrafs/Klonir/Klonir.log
/paragrafs/Uvelich/Uvelich.aux
/paragrafs/Uvelich/Uvelich.log
/paragrafs/Uvelich/Uvelich.synctex.gzcd ..
/Diplom.toc
/Diplom.xcp
/Diplom.log
/Diplom.synctex.gz
/paragrafs/Spisok/Spisok.log
/paragrafs/Zadachi/Zadachi.log
